.hg/
.hgignore
*.pyc
*.pyo
*.swp
*.swo
.mypy_cache/
experiment.S
*.bin
*.sym
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
sym-lib-table
*.net
*.dsn
*.ses
ibom.html
